In [7]:
alas = 10
tinggi = 8
luas = 0.5 * alas * tinggi 
luas

40.0

In [9]:
kursusd = 16000
print('Program konversi US$ ke IDR')
print('Kurs saat ini 1 US$ = ',kursusd, 'Rupiah')
jumlahusd = float(input('Masukkan jumlah uang yang mau ditukar ke Rupiah: '))

rupiah = jumlahusd * kursusd
print('Hasil konversi = Rp. ', rupiah)

Program konversi US$ ke IDR
Kurs saat ini 1 US$ =  16000 Rupiah

Masukkan jumlah uang yang mau ditukar ke Rupiah:  600

Hasil konversi = Rp.  9600000.0

In [13]:
belanja = 100000
diskon = 30

nominaldiskon = (diskon/100) * belanja
bayar = belanja - nominaldiskon 

print('Anda harus membayar: Rp. ', bayar)

Anda harus membayar: Rp.  70000.0

In [53]:
lahir = 1945
Usia_sekarang = 2024 - lahir
print('Usia sekarang:', Usia_sekarang)

Tahun_Saat_Trump_80 = lahir + 80
print('Tahun saat Trump Usia 80:',Tahun_Saat_Trump_80)

Usia sekarang: 79
Tahun saat Trump Usia 80: 2025

In [61]:
P = 5000000
r = 0.1
n = 1
t = 3
A = P * (1 + r/n) ** (n*t)
A

6655000.000000002