In [1]:
t = ('a', 'b', 'c', 'd', 'e')
t[0] = 'A'  # --> Error! Karena tuple immutable.

TypeError: 'tuple' object does not support item assignment

In [5]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

In [19]:
# (0, 1, 2) < (0, 3, 4) 
(0, 1, 2000000) > (0, 3, 40000000)

False

In [21]:
kalimat = 'but soft what light in yonder window breaks'
daftar_kata = kalimat.split()

t = list()
for kata in daftar_kata:
    t.append((len(kata), kata))  # bikin tuple (panjang, kata)

t.sort(reverse=True)  # urutkan dari panjang terbesar

urutan = list()
for panjang, kata in t:
    urutan.append(kata)

print(urutan)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [23]:
m = ['have', 'fun']
x, y = m
print(x)  
print(y)

have
fun

In [ ]:
x = m[0]
y = m[1]

In [ ]:
a, b = b, a

In [25]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [27]:
email = 'didanendya@ti.ukdw.ac.id'
username, domain = email.split('@')

print(username)  
print(domain)

didanendya
ti.ukdw.ac.id

In [ ]:
d = {'a': 10, 'b': 1, 'c': 2}
t = list(d.items())
print(t)
# Output: [('b', 1), ('a', 10), ('c', 22)]

In [7]:
d = {'a': 10, 'b': 1, 'c': 22}
t = list(d.items())
t.sort()
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [15]:
for key, val in d.items():
    print(val, key)

10 a
1 b
2 c

In [21]:
d = {'a': 10, 'b': 1, 'c': 22}
for key, val in d.items():
    print(val, key)

10 a
1 b
22 c

In [23]:
d = {'a': 10, 'b': 1, 'c': 22}
l = list()

for key, val in d.items():
    l.append((val, key))

l.sort(reverse=True)
print(l)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [25]:
import string

fhand = open('romeo-full.txt')       # Buka file teks
counts = dict()                      # Dictionary untuk menghitung kata

for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))  # Hapus tanda baca
    line = line.lower()                                                # Huruf kecil semua
    words = line.split()                                               # Pisah jadi kata-kata

    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

# Ubah dictionary menjadi list of tuple (jumlah, kata)
lst = list()
for key, val in counts.items():
    lst.append((val, key))

lst.sort(reverse=True)     # Urutkan berdasarkan jumlah kemunculan (val)

# Cetak 10 kata terbanyak
for val, key in lst[:10]:
    print(val, key)

61 i
42 and
40 romeo
34 to
34 the
32 thou
32 juliet
30 that
29 my
24 thee

In [29]:
directory = dict() 
directory[('nendya', 'dida')] = '088112266'

for last, first in directory:
    print(first, last, directory[(last, first)])

dida nendya 088112266