In [ ]:
bilangan_genap = {2, 4, 6, 8, 10, 12}
bilangan_ganjil = {1, 3, 5, 7, 9, 11}

In [ ]:
pernah_ke_bulan = set(('Neil Armstrong', 'Buzz Aldrin'))

In [1]:
nim = {'71200120', '71200195', '71200214'}
jumlah_nim = len(nim)
print(jumlah_nim)  

for n in nim:
    print(n)

3
71200214
71200195
71200120

In [3]:
plat_nomor = set()
plat_nomor.add('AB 1890 XA')
plat_nomor.add('AD 6810 MT')
print(len(plat_nomor))

plat_nomor.add('AB 1890 XA')

for plat in plat_nomor:
    print(plat)

2
AD 6810 MT
AB 1890 XA

In [5]:
bilangan_prima = {13, 23, 7, 29, 11, 5}
bilangan_prima.remove(5)
print(bilangan_prima)

bilangan_prima.discard(97)
print(bilangan_prima)

bilangan = bilangan_prima.pop()
print(bilangan)
print(bilangan_prima)

bilangan_prima.clear()
print(bilangan_prima)

{29, 23, 7, 11, 13}
{29, 23, 7, 11, 13}
29
{23, 7, 11, 13}
set()

In [7]:
ikan = set(['koi', 'koki', 'kembung', 'salmon'])
print(ikan)

ikan.remove('koi')
ikan.add('teri')
print(ikan)

{'kembung', 'koi', 'koki', 'salmon'}
{'kembung', 'salmon', 'koki', 'teri'}

In [9]:
merek_hp = {'Samsung', 'Apple', 'Xiaomi', 'Sony'}
merek_ac = {'LG', 'Samsung', 'Panasonic', 'Daikin', 'Sony'}
gabungan = merek_hp | merek_ac
print(gabungan)

{'Panasonic', 'Xiaomi', 'Samsung', 'Sony', 'LG', 'Apple', 'Daikin'}

In [11]:
renang = {'siti', 'mail', 'ikhsan', 'upin', 'ipin'}
tenis = {'joko', 'mail', 'ipin', 'upin', 'tejo'}
renang_tenis = renang & tenis
print(renang_tenis)

{'mail', 'upin', 'ipin'}

In [13]:
english = {'desi', 'tono', 'evan', 'miko', 'takashi', 'chaewon'}
korean = {'chaewon', 'yeona', 'erika', 'miko'}

only_korean = korean - english
print(only_korean)

only_english = english - korean
print(only_english)

{'erika', 'yeona'}
{'tono', 'evan', 'desi', 'takashi'}

In [15]:
english = {'desi', 'tono', 'evan', 'miko', 'takashi', 'chaewon'}
korean = {'chaewon', 'yeona', 'erika', 'miko'}
one_language = english ^ korean
print(one_language)

{'takashi', 'erika', 'desi', 'tono', 'evan', 'yeona'}

In [19]:
def unique_sum(list_angka):
    data_set = set(list_angka)
    total = 0
    for angka in data_set:
        total += angka
    return total
    
data = [2, 4, 3, 2, 7, 8, 6, 4, 5, 5]
print(unique_sum(data))

35

In [23]:
def cek_duplikat(string):
    karakter_set = set()
    for karakter in string:
        if karakter in karakter_set:
            return True  
        karakter_set.add(karakter)
    return False  

print(cek_duplikat('Alexander the Great'))  
print(cek_duplikat('UKDW'))

True
False

In [25]:
n = int(input('Masukkan jumlah kategori: '))
data_aplikasi = {}

for i in range(n):
    nama_kategori = input('Masukkan nama kategori: ')
    print('Masukkan 5 nama aplikasi di kategori', nama_kategori)
    aplikasi = []
    for j in range(5):
        nama_aplikasi = input('Nama aplikasi: ')
        aplikasi.append(nama_aplikasi)
    data_aplikasi[nama_kategori] = aplikasi

print(data_aplikasi)

daftar_aplikasi_list = []
for aplikasi in data_aplikasi.values():
    daftar_aplikasi_list.append(set(aplikasi))

hasil = daftar_aplikasi_list[0]
for i in range(1, len(daftar_aplikasi_list)):
    hasil = hasil.intersection(daftar_aplikasi_list[i])

print("Aplikasi yang muncul di semua kategori:", hasil)

Masukkan jumlah kategori:  2
Masukkan nama kategori:  finance

Masukkan 5 nama aplikasi di kategori finance

Nama aplikasi:  rti saham
Nama aplikasi:  mirae
Nama aplikasi:  ipot
Nama aplikasi:  poems
Nama aplikasi:  calculator
Masukkan nama kategori:  utilities

Masukkan 5 nama aplikasi di kategori utilities

Nama aplikasi:  photos
Nama aplikasi:  weather
Nama aplikasi:  calculator
Nama aplikasi:  camera
Nama aplikasi:  notes

{'finance': ['rti saham', 'mirae', 'ipot', 'poems', 'calculator'], 'utilities': ['photos', 'weather', 'calculator', 'camera', 'notes']}
Aplikasi yang muncul di semua kategori: {'calculator'}