In [3]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
for i in range(100, 1, -2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [13]:
bilangan = 0
genap = False
while genap == False:
    bilangan = int(input('Masukkan bilangan genap: '))
    if bilangan % 2 == 0:
        genap = True
        print(bilangan, 'yang anda masukkan adalah bilangan genap')

Masukkan bilangan genap:  4

4 yang anda masukkan adalah bilangan genap

In [19]:
for i in range(1, 12):
    if i == 6:
        break
    else:
        print(i)
print('Selesai')

1
2
3
4
5
Selesai

In [21]:
for i in range(1, 11):
    if i == 6:
        continue
    else:
        print(i)
print('Selesai')

1
2
3
4
5
7
8
9
10
Selesai

In [23]:
for i in range(1, 22):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [25]:
i = 1 
while i <= 22: 
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [31]:
def fibo(batas):
    bil1 = 1
    bil2 = 1

    if bil1 < batas:
        print(bil1, end='\t')
    if bil2 < batas:
        print(bil2, end='\t')

    while True:
        suku_baru = bil1 + bil2
        if suku_baru >= batas:
            break 
        
        print(suku_baru, end='\t')

        bil1 = bil2
        bil2 = suku_baru

fibo(100)

1	1	2	3	5	8	13	21	34	55	89