In [1]:
print(4)
print(10.876)
print('Z')
print('True')
print('False')

4
10.876
Z
True
False

In [7]:
x=5
print(x, "tipenya adalah ", type(x))
x = 2.0
print(x, "tipenya adalah ", type(x))
x = 1+2j
print(x, "tipenya adalah ",type(x))

5 tipenya adalah  <class 'int'>
2.0 tipenya adalah  <class 'float'>
(1+2j) tipenya adalah  <class 'complex'>

In [9]:
print(1,000,000)

1 0 0

In [45]:
nama_variabel_terserah = 'kita akan memasukan value ini ke variabel a'
print (nama_variabel_terserah)

kita akan memasukan value ini ke variabel a

In [49]:
dua = 7 % 3
print (dua)
satu = 7 // 3
print (satu)

1
2

In [51]:
satu = 22
dua = 7
print (satu + dua)

29

In [57]:
satu = 'aku ' 
dua = 5
print (satu * dua)

aku aku aku aku aku

In [5]:
#gatau mau nulis apa
print ("uyuy")

uyuy